@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
body {
    background-image: url(../imagens/fundo.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.grid_container {
    display: grid;
    grid-template-areas: 'corpo resultado';
    margin-top: 10%;
}

.corpo,
.resultado {
    width: 30vw;
    background-color: #FFF;
    border-radius: 1vw;
    text-align: center;
    margin: 0 auto;
}

.corpo {
    grid-area: corpo;
    padding: 1vw;
}

.corpo h1,
.resultado {
    color: blueviolet;
}

.forms,
#calcula {
    width: 20vw;
    display: flex;
    flex-direction: row;
    margin: 1vw auto;
    padding: 1vw;
}

#calcula {
    background-color: blueviolet;
    border: none;
    color: #fff;
    border-radius: 1vw;
}

#calcula p {
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
}

.resultado {
    grid-area: resultado;
    height: 25vh;
    font-size: 1.4vw;
}

@media(max-width:1000px) {
    .grid_container {
        display: block;
        margin-top: 25%;
    }
    .corpo {
        width: 90vw;
    }
    .forms,
    #calcula {
        width: 70vw;
        height: 5vh;
        margin: 5vw auto
    }
    .resultado {
        margin-top: 5vw;
        width: 90vw;
        padding: 1vw;
        height: 20vh;
        font-size: 5vw;
    }
}